include requirements/*
include convertextract/cors/correspondence_spreadsheets/*
include MANIFEST.in
include README.rst
include LICENSE
exclude .gitignore
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
