include requirements/*
include convertextract/cors/correspondence_spreadsheets/*.xlsx
include MANIFEST.in
include README.rst
include LICENSE
recursive-exclude * *.py[co]
recursive-exclude * *~ 
recursive-exclude * *.orig
